ClaimsDocsClient/Service References/proxyCDDocumentField/ClaimsDocsBizLogic3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentField">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentFieldID" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentID" type="xs:int" />
      <xs:element minOccurs="0" name="FieldDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldNameIs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldTypeIs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IUDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsFieldRequired" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentField" nillable="true" type="tns:DocumentField" />
  <xs:complexType name="ArrayOfDocumentField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentField" nillable="true" type="tns:DocumentField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentField" nillable="true" type="tns:ArrayOfDocumentField" />
</xs:schema>