ClaimsDocsClient/Service References/proxyCDDocumentField/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic.SchemaClasses" />
  <xs:element name="DocumentFieldCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocument" nillable="true" type="q1:DocumentField" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentFieldCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocument" nillable="true" type="q2:DocumentField" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentFieldReadResult" nillable="true" type="q3:DocumentField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentField" nillable="true" type="q4:DocumentField" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentFieldUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSQLString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentFieldSearchResult" nillable="true" type="q5:ArrayOfDocumentField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldClear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentField" nillable="true" type="q6:DocumentField" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldClearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentFieldClearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayFieldsGetFromXMLFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic.SchemaClasses" minOccurs="0" name="objClaimsDocument" nillable="true" type="q7:ClaimsDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayFieldsGetFromXMLFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DisplayFieldsGetFromXMLFileResult" nillable="true" type="q8:ArrayOfDocumentDisplayField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>