ClaimsDocsClient/Service References/proxyCDDocumentField/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CDDocumentField" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic.SchemaClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICDDocumentField_DocumentFieldCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldCreate" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldRead_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldRead" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldReadResponse" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldUpdate" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldSearch" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldClear_InputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldClear" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DocumentFieldClear_OutputMessage">
    <wsdl:part name="parameters" element="tns:DocumentFieldClearResponse" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DisplayFieldsGetFromXMLFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayFieldsGetFromXMLFile" />
  </wsdl:message>
  <wsdl:message name="ICDDocumentField_DisplayFieldsGetFromXMLFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayFieldsGetFromXMLFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ICDDocumentField">
    <wsdl:operation name="DocumentFieldCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldCreate" message="tns:ICDDocumentField_DocumentFieldCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldCreateResponse" message="tns:ICDDocumentField_DocumentFieldCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentFieldRead">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldRead" message="tns:ICDDocumentField_DocumentFieldRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldReadResponse" message="tns:ICDDocumentField_DocumentFieldRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentFieldUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldUpdate" message="tns:ICDDocumentField_DocumentFieldUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldUpdateResponse" message="tns:ICDDocumentField_DocumentFieldUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentFieldSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldSearch" message="tns:ICDDocumentField_DocumentFieldSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldSearchResponse" message="tns:ICDDocumentField_DocumentFieldSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DocumentFieldClear">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldClear" message="tns:ICDDocumentField_DocumentFieldClear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDocumentField/DocumentFieldClearResponse" message="tns:ICDDocumentField_DocumentFieldClear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayFieldsGetFromXMLFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDocumentField/DisplayFieldsGetFromXMLFile" message="tns:ICDDocumentField_DisplayFieldsGetFromXMLFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDocumentField/DisplayFieldsGetFromXMLFileResponse" message="tns:ICDDocumentField_DisplayFieldsGetFromXMLFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICDDocumentField" type="tns:ICDDocumentField">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DocumentFieldCreate">
      <soap:operation soapAction="http://tempuri.org/ICDDocumentField/DocumentFieldCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentFieldRead">
      <soap:operation soapAction="http://tempuri.org/ICDDocumentField/DocumentFieldRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentFieldUpdate">
      <soap:operation soapAction="http://tempuri.org/ICDDocumentField/DocumentFieldUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentFieldSearch">
      <soap:operation soapAction="http://tempuri.org/ICDDocumentField/DocumentFieldSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentFieldClear">
      <soap:operation soapAction="http://tempuri.org/ICDDocumentField/DocumentFieldClear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayFieldsGetFromXMLFile">
      <soap:operation soapAction="http://tempuri.org/ICDDocumentField/DisplayFieldsGetFromXMLFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDDocumentField">
    <wsdl:port name="BasicHttpBinding_ICDDocumentField" binding="tns:BasicHttpBinding_ICDDocumentField">
      <soap:address location="http://testwss06a.accessgeneral.com/ClaimsDocsBizLogic/ClaimsDocsBizLogic.CDDocumentField.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>