ClaimsDocsClient/Service References/proxyCDDocument2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" />
  <xs:element name="DocumentCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocument" nillable="true" type="q1:Document" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocument" nillable="true" type="q2:Document" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentReadResult" nillable="true" type="q3:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocument" nillable="true" type="q4:Document" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSQLString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentSearchResult" nillable="true" type="q5:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGroupSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSQLString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGroupSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentGroupSearchResult" nillable="true" type="q6:ArrayOfDocumentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGroupClear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocument" nillable="true" type="q7:Document" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentGroupClearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentGroupClearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSQLString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentFieldSearchResult" nillable="true" type="q8:ArrayOfDocumentField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldClear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentField" nillable="true" type="q9:DocumentField" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldClearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentFieldClearResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentField" nillable="true" type="q10:DocumentField" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentFieldCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentFieldCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentAdjusterListSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSQLString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentAdjusterListSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentAdjusterListSearchResult" nillable="true" type="q11:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentLogCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentLog" nillable="true" type="q12:DocumentLog" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentLogCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentLogCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentLogUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentLog" nillable="true" type="q13:DocumentLog" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentLogUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentLogUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentLogRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vchrInstanceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentLogReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentLogReadResult" nillable="true" type="q14:DocumentLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprovalQueueCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentApprovalQueue" nillable="true" type="q15:DocumentApprovalQueue" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprovalQueueCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentApprovalQueueCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprovalQueueUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentApprovalQueue" nillable="true" type="q16:DocumentApprovalQueue" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprovalQueueUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentApprovalQueueUpdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentDecline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentLog" nillable="true" type="q17:DocumentLog" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentDeclineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentDeclineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="objDocumentLog" nillable="true" type="q18:DocumentLog" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApproveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentApproveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprovalQueueReadALL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprovalQueueReadALLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentApprovalQueueReadALLResult" nillable="true" type="q19:ArrayOfDocumentApprovalQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprovalQueueRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intDocumentID" type="xs:int" />
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentApprovalQueueReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentApprovalQueueReadResult" nillable="true" type="q20:DocumentApprovalQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentsNeedingApprovalRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strConnectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentsNeedingApprovalReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" minOccurs="0" name="DocumentsNeedingApprovalReadResult" nillable="true" type="q21:ArrayOfDocumentsNeedingApproval" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>