ClaimsDocsClient/Service References/proxyCDDepartment/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CDDepartments" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICDDepartments_DepartmentCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentCreate" />
  </wsdl:message>
  <wsdl:message name="ICDDepartments_DepartmentCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICDDepartments_DepartmentRead_InputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentRead" />
  </wsdl:message>
  <wsdl:message name="ICDDepartments_DepartmentRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentReadResponse" />
  </wsdl:message>
  <wsdl:message name="ICDDepartments_DepartmentUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentUpdate" />
  </wsdl:message>
  <wsdl:message name="ICDDepartments_DepartmentUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICDDepartments_DepartmentSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentSearch" />
  </wsdl:message>
  <wsdl:message name="ICDDepartments_DepartmentSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:DepartmentSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="ICDDepartments">
    <wsdl:operation name="DepartmentCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDepartments/DepartmentCreate" message="tns:ICDDepartments_DepartmentCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDepartments/DepartmentCreateResponse" message="tns:ICDDepartments_DepartmentCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DepartmentRead">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDepartments/DepartmentRead" message="tns:ICDDepartments_DepartmentRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDepartments/DepartmentReadResponse" message="tns:ICDDepartments_DepartmentRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DepartmentUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDepartments/DepartmentUpdate" message="tns:ICDDepartments_DepartmentUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDepartments/DepartmentUpdateResponse" message="tns:ICDDepartments_DepartmentUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DepartmentSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDDepartments/DepartmentSearch" message="tns:ICDDepartments_DepartmentSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDDepartments/DepartmentSearchResponse" message="tns:ICDDepartments_DepartmentSearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICDDepartments" type="tns:ICDDepartments">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DepartmentCreate">
      <soap:operation soapAction="http://tempuri.org/ICDDepartments/DepartmentCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepartmentRead">
      <soap:operation soapAction="http://tempuri.org/ICDDepartments/DepartmentRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepartmentUpdate">
      <soap:operation soapAction="http://tempuri.org/ICDDepartments/DepartmentUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DepartmentSearch">
      <soap:operation soapAction="http://tempuri.org/ICDDepartments/DepartmentSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDDepartments">
    <wsdl:port name="BasicHttpBinding_ICDDepartments" binding="tns:BasicHttpBinding_ICDDepartments">
      <soap:address location="http://prodwss06a.accessgeneral.com/ClaimsDocsBizLogic/ClaimsDocsBizLogic.CDDepartments.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>