ClaimsDocsClient/Service References/proxyCDProgram/ClaimsDocsBizLogic1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Program">
    <xs:sequence>
      <xs:element minOccurs="0" name="IUDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Program" nillable="true" type="tns:Program" />
  <xs:complexType name="ArrayOfProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Program" nillable="true" type="tns:Program" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgram" nillable="true" type="tns:ArrayOfProgram" />
</xs:schema>