ClaimsDocsClient/Service References/proxyCDProgram/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CDProgram" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ClaimsDocsBizLogic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICDProgram_ProgramCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:ProgramCreate" />
  </wsdl:message>
  <wsdl:message name="ICDProgram_ProgramCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgramCreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICDProgram_ProgramRead_InputMessage">
    <wsdl:part name="parameters" element="tns:ProgramRead" />
  </wsdl:message>
  <wsdl:message name="ICDProgram_ProgramRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgramReadResponse" />
  </wsdl:message>
  <wsdl:message name="ICDProgram_ProgramUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ProgramUpdate" />
  </wsdl:message>
  <wsdl:message name="ICDProgram_ProgramUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgramUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ICDProgram_ProgramSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:ProgramSearch" />
  </wsdl:message>
  <wsdl:message name="ICDProgram_ProgramSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgramSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="ICDProgram">
    <wsdl:operation name="ProgramCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDProgram/ProgramCreate" message="tns:ICDProgram_ProgramCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDProgram/ProgramCreateResponse" message="tns:ICDProgram_ProgramCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProgramRead">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDProgram/ProgramRead" message="tns:ICDProgram_ProgramRead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDProgram/ProgramReadResponse" message="tns:ICDProgram_ProgramRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProgramUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDProgram/ProgramUpdate" message="tns:ICDProgram_ProgramUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDProgram/ProgramUpdateResponse" message="tns:ICDProgram_ProgramUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProgramSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDProgram/ProgramSearch" message="tns:ICDProgram_ProgramSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDProgram/ProgramSearchResponse" message="tns:ICDProgram_ProgramSearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICDProgram" type="tns:ICDProgram">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProgramCreate">
      <soap:operation soapAction="http://tempuri.org/ICDProgram/ProgramCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramRead">
      <soap:operation soapAction="http://tempuri.org/ICDProgram/ProgramRead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramUpdate">
      <soap:operation soapAction="http://tempuri.org/ICDProgram/ProgramUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramSearch">
      <soap:operation soapAction="http://tempuri.org/ICDProgram/ProgramSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDProgram">
    <wsdl:port name="BasicHttpBinding_ICDProgram" binding="tns:BasicHttpBinding_ICDProgram">
      <soap:address location="http://prodwss06a.accessgeneral.com/ClaimsDocsBizLogic/ClaimsDocsBizLogic.CDProgram.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>